USE [master]
GO
/****** Object:  Database [Organisations]    Script Date: 06-06-2026 16:00:54 ******/
CREATE DATABASE [Organisations]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Organisations', FILENAME = N'D:\UATDB\Organisations\Organisations.mdf' , SIZE = 335872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Organisations_log', FILENAME = N'D:\UATDB\Organisations\Organisations_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Organisations].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Organisations]
GO
/****** Object:  UserDefinedFunction [dbo].[getDesignation]    Script Date: 06-06-2026 16:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   FUNCTION [dbo].[getDesignation](@login_id varchar(10),@Branch_code varchar(10))
returns nvarchar(10)
as
begin
declare @designation_type varchar(10),
        @login_user_scale int,
		@BM_scale int,
		@count1 int,
		@count2 int
	
		
			  select
			  @designation_type=case when( s.EMP_DESGN in ('4206','4254','4255')and s.LOCATION_DESC like 'RO%') then 'DYRH'
			  when ( s.EMP_DESGN in ('5101','5106','5254','5255')and s.LOCATION_DESC like 'RO%') then 'RH' 
			  when ( s.EMP_DESGN in ('5103','1200','6103','7103')and s.LOCATION_DESC like 'ZO%') then 'DYZH' 
			  when ( s.EMP_DESGN in ('2030','3219','7102','8102')and s.LOCATION_DESC like 'ZO%') then 'ZH' 
			  when s.LOCATION_DESC like 'RO%' then 'RO' else'others' end 
			  from STAFF_DETAILS s  where EMP_ID =@login_id
			  and s.EMP_SCALE_CODE<=
			  (select EMP_SCALE_CODE from STAFF_DETAILS s1 join BranchDiary.dbo.Branch_master b on s1.LOCATION=b.BRANCH_CODE and b.BR_HEAD_NAME=s1.EMP_NAME   where b.BRANCH_CODE=@Branch_code)--;
			  return @designation_type
		

end;
GO
/****** Object:  Table [dbo].[Branch_master]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch_master](
	[BRANCH_UCD1] [nvarchar](max) NULL,
	[BRANCH_CODE] [nvarchar](max) NULL,
	[BRANCH_AREA] [nvarchar](max) NULL,
	[BRANCH_NAME] [nvarchar](max) NULL,
	[BRANCH_NAME_HINDI] [nvarchar](max) NULL,
	[SPL_BR] [nvarchar](max) NULL,
	[FOREX_BR] [nvarchar](max) NULL,
	[BR_ADD1] [nvarchar](max) NULL,
	[BR_ADD2] [nvarchar](max) NULL,
	[BR_ADD3] [nvarchar](max) NULL,
	[PINCODE] [nvarchar](max) NULL,
	[BR_EST_DATE] [datetime] NULL,
	[REGION_CODE] [nvarchar](max) NULL,
	[ZONE_CODE] [nvarchar](max) NULL,
	[STD_CODE] [nvarchar](max) NULL,
	[BR_TEL1] [nvarchar](max) NULL,
	[BR_TEL2] [nvarchar](max) NULL,
	[BR_TEL3] [nvarchar](max) NULL,
	[BR_TEL4] [nvarchar](max) NULL,
	[BR_FAX1] [nvarchar](max) NULL,
	[BR_FAX2] [nvarchar](max) NULL,
	[STATE_CODE] [nvarchar](max) NULL,
	[DISTRICT_CODE] [nvarchar](max) NULL,
	[BR_EMAIL] [nvarchar](max) NULL,
	[IFSC_CODE] [nvarchar](max) NULL,
	[MICR_CODE] [nvarchar](max) NULL,
	[BR_GOLD] [nvarchar](max) NULL,
	[BR_DEMAT] [nvarchar](max) NULL,
	[BR_VKC] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[updated_by] [nvarchar](max) NULL,
	[updated_on] [datetime] NULL,
	[new_pin] [nvarchar](max) NULL,
	[BR_ADD1_H] [nvarchar](max) NULL,
	[BR_ADD2_H] [nvarchar](max) NULL,
	[BR_ADD3_H] [nvarchar](max) NULL,
	[Tel_IP1] [nvarchar](max) NULL,
	[Tel_IP2] [nvarchar](max) NULL,
	[Tel_IP3] [nvarchar](max) NULL,
	[Tel_IP4] [nvarchar](max) NULL,
	[BR_BBU] [nvarchar](max) NULL,
	[zone_name_eng] [nvarchar](max) NULL,
	[region_name] [nvarchar](max) NULL,
	[region_name_hindi] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[BRANCH_MASTER_VIEW]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[BRANCH_MASTER_VIEW]
AS
SELECT        BRANCH_CODE, BRANCH_NAME,(BRANCH_NAME + '-' + BRANCH_CODE) BRANCH_NAME_WITH_CODE, REGION_CODE, region_name, ZONE_CODE, zone_name_eng, BRANCH_UCD1 as SOL_ID
FROM            dbo.Branch_master
GO
/****** Object:  Table [dbo].[region_master]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[region_master](
	[region_code] [varchar](6) NULL,
	[region_name] [varchar](50) NULL,
	[region_name_hindi] [nvarchar](100) NULL,
	[regional_head] [varchar](100) NULL,
	[regional_head_no] [varchar](100) NULL,
	[status] [varchar](1) NULL,
	[zone_code] [varchar](6) NULL,
	[regional_email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[REGION_MASTER_VIEW]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[REGION_MASTER_VIEW]
AS
SELECT   region_code, region_name, region_name + '-' + region_code AS region_name_with_code, zone_code
FROM      dbo.region_master
GO
/****** Object:  Table [dbo].[STAFF_DETAILS]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_DETAILS](
	[EMP_ID] [varchar](50) NULL,
	[EMP_NAME] [varchar](50) NULL,
	[LOCATION] [varchar](50) NULL,
	[LOCATION_DESC] [varchar](50) NULL,
	[DEPTID] [varchar](50) NULL,
	[DEPT_ID_DESC] [varchar](50) NULL,
	[REGION_CODE] [varchar](50) NULL,
	[REGION_NAME] [varchar](50) NULL,
	[DIVISION_CODE] [varchar](50) NULL,
	[DIVISION_NAME] [varchar](50) NULL,
	[BR_CODE] [varchar](50) NULL,
	[EMP_DESGN] [varchar](50) NULL,
	[EMP_DESGN_DESC] [varchar](50) NULL,
	[EMP_SCALE_CODE] [varchar](50) NULL,
	[EMP_SCALE_DESCR] [varchar](50) NULL,
	[EMP_DATE_OF_BIRTH] [varchar](50) NULL,
	[EMP_JOINING_DATE] [varchar](50) NULL,
	[EXPECTED_END_DATE] [varchar](50) NULL,
	[ACC_NUM] [varchar](50) NULL,
	[SEX] [varchar](50) NULL,
	[POSTING_DATE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[STAFF_DETAILS_VIEW]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[STAFF_DETAILS_VIEW]
AS
SELECT   EMP_ID AS Employee_ID, EMP_DESGN AS Employee_Designation_Code, EMP_DESGN_DESC AS Employee_Designation_Description, LOCATION AS Employee_Location_Code, LOCATION_DESC AS Employee_Location_Description
FROM      dbo.STAFF_DETAILS
GO
/****** Object:  Table [dbo].[zone_master]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zone_master](
	[zone_code] [varchar](6) NULL,
	[zone_name_eng] [varchar](50) NULL,
	[status] [varchar](1) NULL,
	[zone_head] [varchar](100) NULL,
	[zone_head_no] [varchar](100) NULL,
	[zone_email] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ZONE_MASTER_VIEW]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ZONE_MASTER_VIEW]
AS
SELECT   zone_code, zone_name_eng, zone_name_eng + '-' + zone_code AS zone_name_with_code
FROM      dbo.zone_master
GO
/****** Object:  Table [dbo].[CONTACT_DEPARTMENTS]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT_DEPARTMENTS](
	[ID] [float] NULL,
	[DepartmentID] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[DepartmentType] [nvarchar](max) NULL,
	[RegionCode] [nvarchar](max) NULL,
	[RegionName] [nvarchar](max) NULL,
	[ZoneCode] [nvarchar](max) NULL,
	[ZoneName] [nvarchar](max) NULL,
	[Del_Flag] [nvarchar](max) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation_master_parivar]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation_master_parivar](
	[JOBCODE] [nvarchar](255) NULL,
	[DESCR] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district_master]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district_master](
	[state_code] [varchar](3) NULL,
	[district_code] [varchar](3) NOT NULL,
	[district_name_eng] [varchar](50) NULL,
	[district_name_hindi] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District_Master_Finacle]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District_Master_Finacle](
	[STATE_CODE] [varchar](6) NOT NULL,
	[DISTRICT_CODE] [varchar](6) NOT NULL,
	[DISTRICT_NAME] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_on] [datetime] NULL,
	[Del_Flg] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Activity]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Activity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ActivityID] [nvarchar](1000) NULL,
	[ActivityTitle] [nvarchar](1000) NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Activity_02122025]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Activity_02122025](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ActivityID] [nvarchar](1000) NULL,
	[ActivityTitle] [nvarchar](1000) NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Activity_bkp]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Activity_bkp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ActivityID] [nvarchar](1000) NULL,
	[ActivityTitle] [nvarchar](1000) NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Activity_temp]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Activity_temp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ActivityID] [nvarchar](1000) NULL,
	[ActivityTitle] [nvarchar](1000) NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Department]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[DepartmentName] [nvarchar](1000) NULL,
	[DepartmentType] [nvarchar](1000) NULL,
	[RegionCode] [nvarchar](1000) NULL,
	[RegionName] [nvarchar](1000) NULL,
	[ZoneCode] [nvarchar](1000) NULL,
	[ZoneName] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
 CONSTRAINT [PK__EM_Depar__3214EC2730C1473] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Department_02122025]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Department_02122025](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[DepartmentName] [nvarchar](1000) NULL,
	[DepartmentType] [nvarchar](1000) NULL,
	[RegionCode] [nvarchar](1000) NULL,
	[RegionName] [nvarchar](1000) NULL,
	[ZoneCode] [nvarchar](1000) NULL,
	[ZoneName] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
 CONSTRAINT [PK__EM_Depar__3214EC2730C14743] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Department_Backup]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Department_Backup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[DepartmentName] [nvarchar](1000) NULL,
	[DepartmentType] [nvarchar](1000) NULL,
	[RegionCode] [nvarchar](1000) NULL,
	[RegionName] [nvarchar](1000) NULL,
	[ZoneCode] [nvarchar](1000) NULL,
	[ZoneName] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_EscalationMatrix]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_EscalationMatrix](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[DepartmentName] [nvarchar](1000) NULL,
	[DepartmentType] [nvarchar](1000) NULL,
	[ActivityID] [nvarchar](1000) NULL,
	[ActivityTitle] [nvarchar](1000) NULL,
	[ActivityName] [nvarchar](1000) NULL,
	[L1Person_Name] [nvarchar](1000) NULL,
	[L1Person_Desg] [nvarchar](1000) NULL,
	[L1Person_Mobile] [nvarchar](1000) NULL,
	[L1Person_Email] [nvarchar](1000) NULL,
	[L1Person_IPNo] [nvarchar](1000) NULL,
	[L2Person_Name] [nvarchar](1000) NULL,
	[L2Person_Desg] [nvarchar](1000) NULL,
	[L2Person_Mobile] [nvarchar](1000) NULL,
	[L2Person_Email] [nvarchar](1000) NULL,
	[L2Person_IPNo] [nvarchar](1000) NULL,
	[L3Person_Name] [nvarchar](1000) NULL,
	[L3Person_Desg] [nvarchar](1000) NULL,
	[L3Person_Mobile] [nvarchar](1000) NULL,
	[L3Person_Email] [nvarchar](1000) NULL,
	[L3Person_IPNo] [nvarchar](1000) NULL,
	[L4Person_Name] [nvarchar](1000) NULL,
	[L4Person_Desg] [nvarchar](1000) NULL,
	[L4Person_Mobile] [nvarchar](1000) NULL,
	[L4Person_Email] [nvarchar](1000) NULL,
	[L4Person_IPNo] [nvarchar](1000) NULL,
	[L5Person_Name] [nvarchar](1000) NULL,
	[L5Person_Desg] [nvarchar](1000) NULL,
	[L5Person_Mobile] [nvarchar](1000) NULL,
	[L5Person_Email] [nvarchar](1000) NULL,
	[L5Person_IPNo] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_EscalationMatrix_02122025]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_EscalationMatrix_02122025](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[DepartmentName] [nvarchar](1000) NULL,
	[DepartmentType] [nvarchar](1000) NULL,
	[ActivityID] [nvarchar](1000) NULL,
	[ActivityTitle] [nvarchar](1000) NULL,
	[ActivityName] [nvarchar](1000) NULL,
	[L1Person_Name] [nvarchar](1000) NULL,
	[L1Person_Desg] [nvarchar](1000) NULL,
	[L1Person_Mobile] [nvarchar](1000) NULL,
	[L1Person_Email] [nvarchar](1000) NULL,
	[L1Person_IPNo] [nvarchar](1000) NULL,
	[L2Person_Name] [nvarchar](1000) NULL,
	[L2Person_Desg] [nvarchar](1000) NULL,
	[L2Person_Mobile] [nvarchar](1000) NULL,
	[L2Person_Email] [nvarchar](1000) NULL,
	[L2Person_IPNo] [nvarchar](1000) NULL,
	[L3Person_Name] [nvarchar](1000) NULL,
	[L3Person_Desg] [nvarchar](1000) NULL,
	[L3Person_Mobile] [nvarchar](1000) NULL,
	[L3Person_Email] [nvarchar](1000) NULL,
	[L3Person_IPNo] [nvarchar](1000) NULL,
	[L4Person_Name] [nvarchar](1000) NULL,
	[L4Person_Desg] [nvarchar](1000) NULL,
	[L4Person_Mobile] [nvarchar](1000) NULL,
	[L4Person_Email] [nvarchar](1000) NULL,
	[L4Person_IPNo] [nvarchar](1000) NULL,
	[L5Person_Name] [nvarchar](1000) NULL,
	[L5Person_Desg] [nvarchar](1000) NULL,
	[L5Person_Mobile] [nvarchar](1000) NULL,
	[L5Person_Email] [nvarchar](1000) NULL,
	[L5Person_IPNo] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_EscalationMatrix_bkp]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_EscalationMatrix_bkp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[DepartmentName] [nvarchar](1000) NULL,
	[DepartmentType] [nvarchar](1000) NULL,
	[ActivityID] [nvarchar](1000) NULL,
	[ActivityTitle] [nvarchar](1000) NULL,
	[ActivityName] [nvarchar](1000) NULL,
	[L1Person_Name] [nvarchar](1000) NULL,
	[L1Person_Desg] [nvarchar](1000) NULL,
	[L1Person_Mobile] [nvarchar](1000) NULL,
	[L1Person_Email] [nvarchar](1000) NULL,
	[L1Person_IPNo] [nvarchar](1000) NULL,
	[L2Person_Name] [nvarchar](1000) NULL,
	[L2Person_Desg] [nvarchar](1000) NULL,
	[L2Person_Mobile] [nvarchar](1000) NULL,
	[L2Person_Email] [nvarchar](1000) NULL,
	[L2Person_IPNo] [nvarchar](1000) NULL,
	[L3Person_Name] [nvarchar](1000) NULL,
	[L3Person_Desg] [nvarchar](1000) NULL,
	[L3Person_Mobile] [nvarchar](1000) NULL,
	[L3Person_Email] [nvarchar](1000) NULL,
	[L3Person_IPNo] [nvarchar](1000) NULL,
	[L4Person_Name] [nvarchar](1000) NULL,
	[L4Person_Desg] [nvarchar](1000) NULL,
	[L4Person_Mobile] [nvarchar](1000) NULL,
	[L4Person_Email] [nvarchar](1000) NULL,
	[L4Person_IPNo] [nvarchar](1000) NULL,
	[L5Person_Name] [nvarchar](1000) NULL,
	[L5Person_Desg] [nvarchar](1000) NULL,
	[L5Person_Mobile] [nvarchar](1000) NULL,
	[L5Person_Email] [nvarchar](1000) NULL,
	[L5Person_IPNo] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_EscalationMatrix_Temp]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_EscalationMatrix_Temp](
	[ActivityTitle] [nvarchar](1000) NULL,
	[ActivityName] [nvarchar](1000) NULL,
	[L1Person_Name] [nvarchar](1000) NULL,
	[L1Person_Desg] [nvarchar](1000) NULL,
	[L1Person_Mobile] [nvarchar](1000) NULL,
	[L1Person_Email] [nvarchar](1000) NULL,
	[L1Person_IPNo] [nvarchar](1000) NULL,
	[L2Person_Name] [nvarchar](1000) NULL,
	[L2Person_Desg] [nvarchar](1000) NULL,
	[L2Person_Mobile] [nvarchar](1000) NULL,
	[L2Person_Email] [nvarchar](1000) NULL,
	[L2Person_IPNo] [nvarchar](1000) NULL,
	[L3Person_Name] [nvarchar](1000) NULL,
	[L3Person_Desg] [nvarchar](1000) NULL,
	[L3Person_Mobile] [nvarchar](1000) NULL,
	[L3Person_Email] [nvarchar](1000) NULL,
	[L3Person_IPNo] [nvarchar](1000) NULL,
	[L4Person_Name] [nvarchar](1000) NULL,
	[L4Person_Desg] [nvarchar](1000) NULL,
	[L4Person_Mobile] [nvarchar](1000) NULL,
	[L4Person_Email] [nvarchar](1000) NULL,
	[L4Person_IPNo] [nvarchar](1000) NULL,
	[DepartmentID] [nvarchar](1000) NULL,
	[DepartmentName] [nvarchar](1000) NULL,
	[DepartmentType] [nvarchar](1000) NULL,
	[ActivityID] [nvarchar](1000) NULL,
	[L5Person_Name] [nvarchar](1000) NULL,
	[L5Person_Desg] [nvarchar](1000) NULL,
	[L5Person_Mobile] [nvarchar](1000) NULL,
	[L5Person_Email] [nvarchar](1000) NULL,
	[L5Person_IPNo] [nvarchar](1000) NULL,
	[Del_Flag] [nvarchar](1000) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [nvarchar](1000) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](1000) NULL,
	[DelDate] [datetime] NULL,
	[DelBy] [nvarchar](1000) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_USER_MASTER]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_USER_MASTER](
	[TRANS_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMP_ID] [nvarchar](10) NOT NULL,
	[EMP_NAME] [nvarchar](1000) NULL,
	[USER_TYPE] [nvarchar](50) NULL,
	[CO_CODE] [nvarchar](50) NULL,
	[CPC_CODE] [nvarchar](50) NULL,
	[RegionCode] [nvarchar](50) NULL,
	[ZoneCode] [nvarchar](50) NULL,
	[Del_Flag] [nvarchar](1) NULL,
	[EntryBy] [nvarchar](50) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[ModifyDate] [datetime] NULL,
	[DelBy] [nvarchar](50) NULL,
	[DelDate] [datetime] NULL,
	[EX_FIELD1] [nvarchar](50) NULL,
	[EX_FIELD2] [nvarchar](50) NULL,
	[EX_FIELD3] [nvarchar](100) NULL,
	[EX_FIELD4] [nvarchar](100) NULL,
	[EX_FIELD5] [nvarchar](200) NULL,
	[EX_FIELD6] [nvarchar](200) NULL,
	[EX_FIELD7] [nvarchar](500) NULL,
	[EX_FIELD8] [nvarchar](500) NULL,
	[EX_FIELD9] [nvarchar](max) NULL,
	[EX_FIELD10] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_USER_MASTER_02122025]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_USER_MASTER_02122025](
	[TRANS_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMP_ID] [nvarchar](10) NOT NULL,
	[EMP_NAME] [nvarchar](1000) NULL,
	[USER_TYPE] [nvarchar](50) NULL,
	[CO_CODE] [nvarchar](50) NULL,
	[CPC_CODE] [nvarchar](50) NULL,
	[RegionCode] [nvarchar](50) NULL,
	[ZoneCode] [nvarchar](50) NULL,
	[Del_Flag] [nvarchar](1) NULL,
	[EntryBy] [nvarchar](50) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[ModifyDate] [datetime] NULL,
	[DelBy] [nvarchar](50) NULL,
	[DelDate] [datetime] NULL,
	[EX_FIELD1] [nvarchar](50) NULL,
	[EX_FIELD2] [nvarchar](50) NULL,
	[EX_FIELD3] [nvarchar](100) NULL,
	[EX_FIELD4] [nvarchar](100) NULL,
	[EX_FIELD5] [nvarchar](200) NULL,
	[EX_FIELD6] [nvarchar](200) NULL,
	[EX_FIELD7] [nvarchar](500) NULL,
	[EX_FIELD8] [nvarchar](500) NULL,
	[EX_FIELD9] [nvarchar](max) NULL,
	[EX_FIELD10] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_details]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_details](
	[EMPLID] [nvarchar](255) NULL,
	[NAME] [nvarchar](255) NULL,
	[COMPRATE] [float] NULL,
	[EFFDT1] [nvarchar](255) NULL,
	[ACTION_DESC] [nvarchar](max) NULL,
	[RO_DEPT] [nvarchar](255) NULL,
	[LOCATION] [nvarchar](255) NULL,
	[LOCATION_1] [nvarchar](255) NULL,
	[DESIGNATION] [nvarchar](255) NULL,
	[SCALE] [nvarchar](255) NULL,
	[ZONENAME] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ip_directory]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ip_directory](
	[Description] [nvarchar](max) NULL,
	[Extention] [nvarchar](max) NULL,
	[date] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[josh2_dashboard_data]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[josh2_dashboard_data](
	[zone_name] [nvarchar](max) NULL,
	[zone_solid] [nvarchar](max) NULL,
	[total_marks] [nvarchar](max) NULL,
	[rank] [nvarchar](max) NULL,
	[Zone_Cur_Deposits_Incr_Target] [nvarchar](max) NULL,
	[Zone_Cur_Deposits_Incr_achv] [nvarchar](max) NULL,
	[curr_dep_marks] [nvarchar](max) NULL,
	[zone_sb_dep_incr_target] [nvarchar](max) NULL,
	[zone_sb_dep_incr_achv] [nvarchar](max) NULL,
	[sb_dep_marks] [nvarchar](max) NULL,
	[zone_ret_adv_incr_targets] [nvarchar](max) NULL,
	[zone_ret_adv_incr_achv] [nvarchar](max) NULL,
	[ret_adv_marks] [nvarchar](max) NULL,
	[zone_agri_adv_incr_targets] [nvarchar](max) NULL,
	[zone_agri_adv_incr_achv] [nvarchar](max) NULL,
	[agri_adv_marks] [nvarchar](max) NULL,
	[zone_msme_adv_incr_targets] [nvarchar](max) NULL,
	[zone_msme_adv_incr_achv] [nvarchar](max) NULL,
	[msme_adv_marks] [nvarchar](max) NULL,
	[zone_npa_rec_target] [nvarchar](max) NULL,
	[zone_npa_rec_as_on_date] [nvarchar](max) NULL,
	[rec_marks] [nvarchar](max) NULL,
	[zone_rec_target_100p_prov_acc] [nvarchar](max) NULL,
	[zone_rec_as_on_date_prov_acc] [nvarchar](max) NULL,
	[prov_acc_marks_100p] [nvarchar](max) NULL,
	[zone_npa_as_on] [nvarchar](max) NULL,
	[zone_npa_level_as_on] [nvarchar](max) NULL,
	[npa_level_marks] [nvarchar](max) NULL,
	[stress_ceiling_limit_target] [nvarchar](max) NULL,
	[stress_ceiling_limit_achv] [nvarchar](max) NULL,
	[stress_ceiling_marks] [nvarchar](max) NULL,
	[fee_income_target] [nvarchar](max) NULL,
	[fee_income_as_on_date] [nvarchar](max) NULL,
	[fee_income_marks] [nvarchar](max) NULL,
	[zone_rekyc_pend_as_on_date] [nvarchar](max) NULL,
	[total_rekyc_done] [nvarchar](max) NULL,
	[rekyc_marks] [nvarchar](max) NULL,
	[zone_kyc_pend_new_acc] [nvarchar](max) NULL,
	[zone_kyc_upld_new_acc] [nvarchar](max) NULL,
	[ckyc_marks] [nvarchar](max) NULL,
	[total_pend_in_legacy_records] [nvarchar](max) NULL,
	[total_pend_in_legacy_records_as_on_date] [nvarchar](max) NULL,
	[ckyc_legal_marks] [nvarchar](max) NULL,
	[region_dormant_8_10] [nvarchar](max) NULL,
	[tot_aging_8_10_activated] [nvarchar](max) NULL,
	[aging_8_10_marks] [nvarchar](max) NULL,
	[region_dormant_4_8] [nvarchar](max) NULL,
	[tot_aging_4_8_activated] [nvarchar](max) NULL,
	[aging_4_8_marks] [nvarchar](max) NULL,
	[region_dormant_0_4] [nvarchar](max) NULL,
	[total_aging_0_4_activated] [nvarchar](max) NULL,
	[aging_0_4_marks] [nvarchar](max) NULL,
	[tot_comp] [nvarchar](max) NULL,
	[reduc_in_comp] [nvarchar](max) NULL,
	[cust_comp_marks] [nvarchar](max) NULL,
	[no_of_brs] [nvarchar](max) NULL,
	[no_of_brs_sub_cor] [nvarchar](max) NULL,
	[Audit] [nvarchar](max) NULL,
	[apy_target] [nvarchar](max) NULL,
	[apy_achv] [nvarchar](max) NULL,
	[apy_marks] [nvarchar](max) NULL,
	[pmsby_target] [nvarchar](max) NULL,
	[pmsby_achv] [nvarchar](max) NULL,
	[pmsby_marks] [nvarchar](max) NULL,
	[pmjjby_target] [nvarchar](max) NULL,
	[pmjjby_achv] [nvarchar](max) NULL,
	[pmjjby_marks] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_question]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_question](
	[Question] [nvarchar](255) NULL,
	[Answer] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN_QUESTIONS]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_QUESTIONS](
	[SR_NO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[QUESTIONS] [nvarchar](255) NULL,
	[ANSWERS] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retired_Staff_Details]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retired_Staff_Details](
	[EMP_ID] [nvarchar](50) NULL,
	[EMP_NAME] [nvarchar](50) NULL,
	[LOCATION] [nvarchar](50) NULL,
	[LOCATION_DESC] [nvarchar](50) NULL,
	[DEPTID] [nvarchar](50) NULL,
	[DEPT_ID_DESC] [nvarchar](50) NULL,
	[REGION_CODE] [nvarchar](50) NULL,
	[REGION_NAME] [nvarchar](50) NULL,
	[DIVISION_CODE] [nvarchar](50) NULL,
	[DIVISION_NAME] [nvarchar](50) NULL,
	[BR_CODE] [nvarchar](50) NULL,
	[EMP_DESGN] [nvarchar](50) NULL,
	[EMP_DESGN_DESC] [nvarchar](50) NULL,
	[EMP_SCALE_CODE] [nvarchar](50) NULL,
	[EMP_SCALE_DESCR] [nvarchar](50) NULL,
	[EMP_DATE_OF_BIRTH] [nvarchar](50) NULL,
	[EMP_JOINING_DATE] [nvarchar](50) NULL,
	[EXPECTED_END_DATE] [nvarchar](50) NULL,
	[ACC_NUM] [nvarchar](50) NULL,
	[SEX] [nvarchar](50) NULL,
	[POSTING_DATE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RetiredStaffDetails]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RetiredStaffDetails](
	[EMPLID] [nvarchar](10) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[LOCATION] [nvarchar](250) NULL,
	[DESCR] [nvarchar](250) NULL,
	[DEPTID] [nvarchar](250) NULL,
	[DESCR1] [nvarchar](250) NULL,
	[REGION_CODE] [nvarchar](250) NULL,
	[REGION_NAME] [nvarchar](250) NULL,
	[DIVISION_CODE] [nvarchar](250) NULL,
	[DIVISION_NAME] [nvarchar](250) NULL,
	[EMP_DESGN] [nvarchar](250) NULL,
	[EMP_DESGN_DESC] [nvarchar](250) NULL,
	[EMP_SCALE_CODE] [nvarchar](250) NULL,
	[EMP_SCALE_DESCR] [nvarchar](250) NULL,
	[EMP_DATE_OF_BIRTH] [nvarchar](50) NULL,
	[EMP_JOINING_DATE] [nvarchar](50) NULL,
	[EXPECTED_END_DATE] [nvarchar](50) NULL,
	[ACC_NUM] [nvarchar](250) NULL,
	[BRANCH_EC_CD] [nvarchar](250) NULL,
	[SEX] [nvarchar](250) NULL,
	[POSTING_DATE] [nvarchar](50) NULL,
	[PHONE] [nvarchar](250) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[BRSOLID] [nvarchar](250) NULL,
	[DataAsOn] [date] NULL,
	[LastUpdateDate] [datetime] NULL,
	[DOMICILE_TOWN] [nvarchar](50) NULL,
	[DOMICILE_STATE] [nvarchar](50) NULL,
	[BRANCHTYPE] [nvarchar](50) NULL,
	[DISTRICTNAME] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[STATE] [nvarchar](50) NULL,
	[DESCR100A] [nvarchar](100) NULL,
	[DESCR2] [nvarchar](100) NULL,
	[OFFICER_CD] [nvarchar](5) NULL,
	[UBI_PRESENT_CATG] [nvarchar](5) NULL,
	[UBI_SPCL_OFFICER] [nvarchar](5) NULL,
	[XLATLONGNAME] [nvarchar](100) NULL,
	[UBI_RECRUIT_CATG] [nvarchar](5) NULL,
	[UBI_RP_PA_NO] [nvarchar](50) NULL,
	[DEPT_ENTRY_DT] [nvarchar](50) NULL,
	[GPIN_CASTE] [nvarchar](5) NULL,
	[SINCE_DT] [nvarchar](50) NULL,
	[LAST_PROC_DT] [nvarchar](50) NULL,
	[HR_STATUS] [nvarchar](5) NULL,
	[EMPL_STATUS] [nvarchar](5) NULL,
	[DESCR5] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecialUsersAccess_AccOnline]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialUsersAccess_AccOnline](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PF_No] [varchar](15) NULL,
	[Flag] [varchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_DETAILS_ALL]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_DETAILS_ALL](
	[EMP_ID] [varchar](50) NULL,
	[EMP_NAME] [varchar](50) NULL,
	[LOCATION] [varchar](50) NULL,
	[LOCATION_DESC] [varchar](50) NULL,
	[DEPTID] [varchar](50) NULL,
	[DEPT_ID_DESC] [varchar](50) NULL,
	[REGION_CODE] [varchar](50) NULL,
	[REGION_NAME] [varchar](50) NULL,
	[DIVISION_CODE] [varchar](50) NULL,
	[DIVISION_NAME] [varchar](50) NULL,
	[BR_CODE] [varchar](50) NULL,
	[EMP_DESGN] [varchar](50) NULL,
	[EMP_DESGN_DESC] [varchar](50) NULL,
	[EMP_SCALE_CODE] [varchar](50) NULL,
	[EMP_SCALE_DESCR] [varchar](50) NULL,
	[EMP_DATE_OF_BIRTH] [varchar](50) NULL,
	[EMP_JOINING_DATE] [varchar](50) NULL,
	[EXPECTED_END_DATE] [varchar](50) NULL,
	[ACC_NUM] [varchar](50) NULL,
	[SEX] [varchar](50) NULL,
	[POSTING_DATE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_SECRETS]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_SECRETS](
	[EMP_ID] [varchar](50) NULL,
	[SECRET] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffDetails]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffDetails](
	[EMPLID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[LOCATION] [nvarchar](250) NULL,
	[DESCR] [nvarchar](250) NULL,
	[DEPTID] [nvarchar](250) NULL,
	[DESCR1] [nvarchar](250) NULL,
	[REGION_CODE] [nvarchar](250) NULL,
	[REGION_NAME] [nvarchar](250) NULL,
	[DIVISION_CODE] [nvarchar](250) NULL,
	[DIVISION_NAME] [nvarchar](250) NULL,
	[EMP_DESGN] [nvarchar](250) NULL,
	[EMP_DESGN_DESC] [nvarchar](250) NULL,
	[EMP_SCALE_CODE] [nvarchar](250) NULL,
	[EMP_SCALE_DESCR] [nvarchar](250) NULL,
	[EMP_DATE_OF_BIRTH] [nvarchar](50) NULL,
	[EMP_JOINING_DATE] [nvarchar](50) NULL,
	[EXPECTED_END_DATE] [nvarchar](50) NULL,
	[ACC_NUM] [nvarchar](250) NULL,
	[BRANCH_EC_CD] [nvarchar](250) NULL,
	[SEX] [nvarchar](250) NULL,
	[POSTING_DATE] [nvarchar](50) NULL,
	[PHONE] [nvarchar](250) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[BRSOLID] [nvarchar](250) NULL,
	[DataAsOn] [nvarchar](50) NULL,
	[LastUpdateDate] [nvarchar](50) NULL,
	[DOMICILE_TOWN] [nvarchar](50) NULL,
	[DOMICILE_STATE] [nvarchar](50) NULL,
	[BRANCHTYPE] [nvarchar](50) NULL,
	[DISTRICTNAME] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[STATE] [nvarchar](50) NULL,
	[DESCR100A] [nvarchar](100) NULL,
	[DESCR2] [nvarchar](100) NULL,
	[OFFICER_CD] [nvarchar](50) NULL,
	[UBI_PRESENT_CATG] [nvarchar](50) NULL,
	[UBI_SPCL_OFFICER] [nvarchar](50) NULL,
	[XLATLONGNAME] [nvarchar](100) NULL,
	[UBI_RECRUIT_CATG] [nvarchar](50) NULL,
	[UBI_RP_PA_NO] [nvarchar](50) NULL,
	[DEPT_ENTRY_DT] [nvarchar](50) NULL,
	[GPIN_CASTE] [nvarchar](50) NULL,
	[SINCE_DT] [nvarchar](50) NULL,
	[LAST_PROC_DT] [nvarchar](50) NULL,
	[HR_STATUS] [nvarchar](50) NULL,
	[EMPL_STATUS] [nvarchar](50) NULL,
	[DESCR5] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[state_master]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[state_master](
	[state_code] [varchar](3) NOT NULL,
	[state_name_eng] [varchar](50) NULL,
	[state_name_hindi] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State_Master_Finacle]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_Master_Finacle](
	[STATE_CODE] [varchar](6) NOT NULL,
	[STATE_NAME] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_on] [datetime] NULL,
	[Del_Flg] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Branch_Search_Feedback]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Branch_Search_Feedback]	
@branch_name varchar(255)=null,
@state_code varchar(6)=null,
@district_code varchar(6)=null,
@ifsc_code varchar(15)=null,
@search_option varchar(2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

if(@search_option='1' or @search_option='2')
begin
 select distinct bm.BRANCH_CODE,bm.BRANCH_NAME,bm.BR_ADD1,bm.BR_ADD2,bm.BR_ADD3,bm.PINCODE,
bm.STD_CODE+'-'+Replace(Replace(Replace(isnull(bm.BR_TEL1,'NA')+', '+isnull(bm.BR_TEL2,'**')+', '
+isnull(bm.BR_TEL3,'**')+', '+isnull(bm.BR_TEL4,'**'),', **',''),', , , ',''),', , ','') as tel,bm.BR_EMAIL
from BRANCH_MASTER as bm left join district_master_finacle as dm on bm.DISTRICT_CODE=dm.district_code
left join State_Master_Finacle as sm on bm.STATE_CODE=sm.state_code left JOIN
                      dbo.region_master as rm ON bm.REGION_CODE =  rm.region_code left JOIN
                      dbo.zone_master as zm ON bm.ZONE_CODE = zm.zone_code
 where 
((@branch_name is null) or (@branch_name is not null and bm.BRANCH_NAME like '%'+@branch_name+'%'))
and
((@state_code is null or @state_code='0') or (@state_code is not null and bm.STATE_CODE=@state_code))
and
((@district_code is null or @district_code='0') or (@district_code is not null and bm.DISTRICT_CODE=@district_code))
and
((@ifsc_code is null) or (@ifsc_code is not null and bm.IFSC_CODE=@ifsc_code))  and bm.status='A'

--order by ROW_NUMBER()OVER (ORDER BY BM.Branch_Code)
end



END























GO
/****** Object:  StoredProcedure [dbo].[EM_EscalationMatrixUpdate]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EM_EscalationMatrixUpdate]
	
		
AS
BEGIN   
truncate table EM_Activity_Temp;

INSERT INTO EM_Activity_Temp (ActivityTitle,DepartmentID,ModifyBy,Del_Flag)
	SELECT
    sa.ActivityTitle,sa.DepartmentID,sa.ModifyBy,
    min(sa.id) AS SerialNo
FROM EM_EscalationMatrix_Temp AS sa
WHERE sa.ActivityTitle IS NOT NULL
GROUP BY sa.ActivityTitle,sa.DepartmentID,sa.ModifyBy order by SerialNo;

update EM_Activity_Temp set [ActivityID]=DepartmentID+'_'+CAST(id AS NVARCHAR(10));

update e set e.departmentname=a.departmentname from EM_EscalationMatrix_Temp e, EM_Department a where e.departmentid=a.DepartmentID;

update e  set e.ActivityID=a.ActivityID from   EM_EscalationMatrix_Temp e, EM_Activity_Temp a where a.ActivityTitle=e.ActivityTitle;

update e set e.Del_Flag = 'Y',e.ModifyBy=a.ModifyBy,e.ModifyDate=GETDATE() from   EM_Activity e, EM_Activity_Temp a where e.DepartmentID=a.DepartmentID;

update e set e.Del_Flag = 'Y',e.ModifyBy=a.ModifyBy,e.ModifyDate=GETDATE() from   EM_EscalationMatrix e, EM_EscalationMatrix_temp a where e.DepartmentID=a.DepartmentID;


insert into EM_Activity(ActivityID,ActivityTitle,DepartmentID,Del_Flag,EntryBy,EntryDate) 
select  ActivityID,ActivityTitle,DepartmentID,'N',modifyby,GETDATE() from EM_Activity_Temp;
		
insert into EM_EscalationMatrix([DepartmentID],[DepartmentName],[DepartmentType],[ActivityID],[ActivityTitle],[ActivityName],[L1Person_Name],[L1Person_Desg],[L1Person_Mobile],[L1Person_Email],[L1Person_IPNo],[L2Person_Name],[L2Person_desg],[L2Person_Mobile],[L2Person_Email],[L2Person_IPNo],[L3Person_Name],[L3Person_Desg],[L3Person_Mobile],[L3Person_Email],[L3Person_IPNo],[L4Person_Name],[L4Person_Desg],[L4Person_Mobile],[L4Person_Email],[L4Person_IPNo],[Del_Flag],EntryBy,EntryDate)
select [DepartmentID],[DepartmentName],[DepartmentType],[ActivityID],[ActivityTitle],[ActivityName],[L1Person_Name],[L1Person_Desg],[L1Person_Mobile],[L1Person_Email],[L1Person_IPNo],[L2Person_Name],[L2Person_desg],[L2Person_Mobile],[L2Person_Email],[L2Person_IPNo],[L3Person_Name],[L3Person_Desg],[L3Person_Mobile],[L3Person_Email],[L3Person_IPNo],[L4Person_Name],[L4Person_Desg],[L4Person_Mobile],[L4Person_Email],[L4Person_IPNo],'N',modifyby,GETDATE() from EM_EscalationMatrix_temp;

truncate table EM_Activity_Temp;
truncate table EM_EscalationMatrix_Temp;

END




GO
/****** Object:  StoredProcedure [dbo].[getBranchDetails]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

create PROCEDURE [dbo].[getBranchDetails]
@branchName varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements
	
	SELECT [OLDIFSCCODE],[Ifsc_code],[OLDMICR],[New Micr_code],[BankingChannelName],([Address1]+','+[Address2]+' ,'+[StateName]+' Pincode - '+[Pincode])as AddressDet
			FROM [Organisations].[dbo].[NEW_IFSC_MICR_DETAILS]	
		WHERE 
		[BankingChannelName] like '%'+@branchName+'%' and OLDIFSCCODE is not null
	
   
END
GO
/****** Object:  StoredProcedure [dbo].[getNewIFSCDetail]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

create PROCEDURE [dbo].[getNewIFSCDetail]
@selectVal NVARCHAR(50),
@OldMICRCode char(9),
	@OldIFSCCode NVARCHAR(50)


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements
	SET NOCOUNT ON;
	if(@selectVal = 'old_IFSC')
	SELECT *
			FROM [Organisations].[dbo].[NEW_IFSC_MICR_DETAILS]	
		WHERE 
		[OLDIFSCCODE]=@OldIFSCCode
	else if(@selectVal = 'old_MICR')
	SELECT *
			FROM [Organisations].[dbo].[NEW_IFSC_MICR_DETAILS]	
		WHERE 
		[OLDMICR]=@OldMICRCode

   
END
GO
/****** Object:  StoredProcedure [dbo].[SelectValues]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SelectValues]
(
	@TableName nvarchar(500),
	@ParamterValues nvarchar(2000),
	@Condt nvarchar(1000)
)
AS
declare @Qry nvarchar(MAX)
set @Qry= 'SELECT ' + @ParamterValues + ' FROM ' + @TableName + ' where ' + @Condt;
exec(@Qry)

GO
/****** Object:  StoredProcedure [dbo].[sp_daily_staff_data_fetch_from_202]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- exec sp_daily_staff_data_fetch_from_202
-- =============================================
CREATE PROCEDURE [dbo].[sp_daily_staff_data_fetch_from_202]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	truncate table [Organisations].dbo.staff_details

	insert into [Organisations].dbo.staff_details
	select * from organisations.dbo.staff_details


END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDesignation]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE  [dbo].[SP_GetDesignation]
	-- Add the parameters for the stored procedure here
	@login_id varchar(10),@Branch_code varchar(10)

AS

BEGIN
declare @designation_type varchar(10)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


    -- Insert statements for procedure here
	 select
			  @designation_type=case when( s.EMP_DESGN in ('4206','4254','4255','6102')and s.DEPT_ID_DESC like 'RO%') then 'DYRH'
			  when ( s.EMP_DESGN in ('5101','5106','5254','5255')and s.DEPT_ID_DESC like 'RO%') then 'RH' 
			  when ( s.EMP_DESGN in ('5103','1200','6103','7103')and s.DEPT_ID_DESC like 'ZO%') then 'DYZH' 
			  when ( s.EMP_DESGN in ('2030','3219','7102','8102')and s.DEPT_ID_DESC like 'ZO%') then 'ZH' 
			  when s.DEPT_ID_DESC like 'RO%' then 'RO' else'others' end 
			  from STAFF_DETAILS s  where EMP_ID =@login_id
			  and s.EMP_SCALE_CODE>=
			  (select EMP_SCALE_CODE from STAFF_DETAILS s1 join BranchDiary.dbo.Branch_master b on s1.LOCATION=b.BRANCH_CODE and b.BR_HEAD_NAME=s1.EMP_NAME   where b.BRANCH_CODE=@Branch_code)
			  select @designation_type AS designation
		
END


GO
/****** Object:  StoredProcedure [dbo].[usp_Birthday_and_retirement]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>

-- exec usp_Birthday_and_retirement '1','1','541087','birthday'
-- =============================================
CREATE PROCEDURE [dbo].[usp_Birthday_and_retirement] 
	-- Add the parameters for the stored procedure here
	@branch nvarchar(10),
	@region nvarchar(10),
	@zone nvarchar(10),
	@type nvarchar(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@type='birthday')
	begin

	update STAFF_DETAILS set EMP_SCALE_CODE='1.5' where EMP_SCALE_CODE='17';
    
	select EMP_ID as [PF No], EMP_NAME as Name,LOCATION_DESC as [Posted At],EMP_DESGN_DESC as Designation,EMP_DATE_OF_BIRTH as [Date of Birth] from Organisations.dbo.STAFF_DETAILS
	 where ((@zone IS NULL or @zone = '1') OR (@zone  IS NOT NULL AND DIVISION_CODE=@zone))
		AND ((@region IS NULL or @region = '1') OR (@region  IS NOT NULL AND REGION_CODE=@region))
	AND ((@branch IS NULL or @branch = '1') OR (@branch  IS NOT NULL AND LOCATION=@branch))
	and EMP_DESGN_DESC not like '%Suspended%' and EMP_ID not in ('449766','631192','467361')
	and day(convert(date,EMP_DATE_OF_BIRTH,105)) = day(convert(date,GETDATE(),105))
	and month(convert(date,EMP_DATE_OF_BIRTH,105)) = month(convert(date,GETDATE(),105))
	order by convert(float, EMP_SCALE_CODE)

	end

	else if (@type='retirement')
	begin

	select EMP_ID as [PF No], EMP_NAME as Name,LOCATION_DESC as [Posted At],EMP_DESGN_DESC as Designation,EXPECTED_END_DATE as [Retirement Date] from Organisations.dbo.STAFF_DETAILS
	 where ((@zone IS NULL or @zone = '1') OR (@zone  IS NOT NULL AND DIVISION_CODE=@zone))
		AND ((@region IS NULL or @region = '1') OR (@region  IS NOT NULL AND REGION_CODE=@region))
	AND ((@branch IS NULL or @branch = '1') OR (@branch  IS NOT NULL AND LOCATION=@branch))
	and month(convert(date,EXPECTED_END_DATE,105)) = month(convert(date,GETDATE(),105))
	and year(convert(date,EXPECTED_END_DATE,105)) = year(convert(date,GETDATE(),105))
	order by convert(float, EMP_SCALE_CODE)
	end
END
GO
/****** Object:  StoredProcedure [dbo].[usp_get_posting_data]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_get_posting_data] 
	-- Add the parameters for the stored procedure here
	@EMPLID nvarchar(20)=NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT distinct emplid, (DESCR+' , '+DESCR1) as desgn,LOCATION as post_code,DESCR1 as post
  FROM [Organisations].[dbo].[Posting_data]
  where EMPLID=@EMPLID
END
GO
/****** Object:  StoredProcedure [dbo].[uspInsertStaffDetails]    Script Date: 06-06-2026 16:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[uspInsertStaffDetails]

@EMPLID nvarchar(10),
@NAME nvarchar(250),
@LOCATION nvarchar(250),
@DESCR nvarchar(250),
@DEPTID nvarchar(250),
@DESCR1 nvarchar(250),
@REGION_CODE nvarchar(250),
@REGION_NAME nvarchar(250),
@DIVISION_CODE nvarchar(250),
@DIVISION_NAME nvarchar(250),
@EMP_DESGN nvarchar(250),
@EMP_DESGN_DESC nvarchar(250),
@EMP_SCALE_CODE nvarchar(250),
@EMP_SCALE_DESCR nvarchar(250),
@EMP_DATE_OF_BIRTH Date,
@EMP_JOINING_DATE Date,
@EXPECTED_END_DATE Date,
@ACC_NUM nvarchar(250),
@BRANCH_EC_CD nvarchar(250),
@SEX nvarchar(250),
@POSTING_DATE Date,
@PHONE nvarchar(250),
@EMAIL nvarchar(250),
@BRSOLID nvarchar(250),
@DataAsOn Date,
@LastUpdateDate DateTime,
@FlagOverwrite Bit,
@FlagFinalize Bit
           
AS
BEGIN
	IF (@FlagOverwrite = 1)
	BEGIN
		Delete from StaffDetails_Temp
	END

	INSERT INTO [dbo].[StaffDetails_Temp]
           ([EMPLID]
           ,[NAME]
           ,[LOCATION]
           ,[DESCR]
           ,[DEPTID]
           ,[DESCR1]
           ,[REGION_CODE]
           ,[REGION_NAME]
           ,[DIVISION_CODE]
           ,[DIVISION_NAME]
           ,[EMP_DESGN]
           ,[EMP_DESGN_DESC]
           ,[EMP_SCALE_CODE]
           ,[EMP_SCALE_DESCR]
           ,[EMP_DATE_OF_BIRTH]
           ,[EMP_JOINING_DATE]
           ,[EXPECTED_END_DATE]
           ,[ACC_NUM]
           ,[BRANCH_EC_CD]
           ,[SEX]
           ,[POSTING_DATE]
           ,[PHONE]
           ,[EMAIL]
           ,[BRSOLID]
           ,[DataAsOn]
           ,[LastUpdateDate])
     VALUES
	 (
		@EMPLID,
		@NAME,
		@LOCATION,
		@DESCR,
		@DEPTID,
		@DESCR1,
		@REGION_CODE,
		@REGION_NAME,
		@DIVISION_CODE,
		@DIVISION_NAME,
		@EMP_DESGN,
		@EMP_DESGN_DESC,
		@EMP_SCALE_CODE,
		@EMP_SCALE_DESCR,
		@EMP_DATE_OF_BIRTH,
		@EMP_JOINING_DATE,
		@EXPECTED_END_DATE,
		@ACC_NUM,
		@BRANCH_EC_CD,
		@SEX,
		@POSTING_DATE,
		@PHONE,
		@EMAIL,
		@BRSOLID,
		@DataAsOn,
		@LastUpdateDate
	)

	 IF (@FlagFinalize = 1)
	 BEGIN
		DELETE FROM StaffDetails

		INSERT INTO StaffDetails
		SELECT * FROM StaffDetails_Temp
	 END
END



GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Branch_master"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BRANCH_MASTER_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BRANCH_MASTER_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -1246
      End
      Begin Tables = 
         Begin Table = "region_master"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 235
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'REGION_MASTER_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'REGION_MASTER_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "STAFF_DETAILS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 254
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'STAFF_DETAILS_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'STAFF_DETAILS_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "zone_master"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 219
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ZONE_MASTER_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ZONE_MASTER_VIEW'
GO
USE [master]
GO
